.field-china-profile{
display:inline; 
width: 100%;
}

.field-china-profile select{
width: 100px;
}

.field-china-profile-label,
.field-china-profile-province, 
.field-china-profile-city ,
.field-china-profile-county {
float:left; 
}
.field-china-profile-label{
font-weight: bold; 
margin-right: 8px;
}
.field-china-profile .form-item{
display:inline; 
margin-right: 5px; 
}
.field-china-profile .form-item label{
display:none;
}

.china-location-info{

}

.china-location-info span{
margin-left: 3px;
margin-right: 3px;
}
